In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_absolute_error

In [3]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/00374/energydata_complete.csv')
df

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.890000,47.596667,19.200000,44.790000,19.790000,44.730000,19.000000,...,17.033333,45.5300,6.600000,733.5,92.000000,7.000000,63.000000,5.300000,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.890000,46.693333,19.200000,44.722500,19.790000,44.790000,19.000000,...,17.066667,45.5600,6.483333,733.6,92.000000,6.666667,59.166667,5.200000,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.890000,46.300000,19.200000,44.626667,19.790000,44.933333,18.926667,...,17.000000,45.5000,6.366667,733.7,92.000000,6.333333,55.333333,5.100000,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.890000,46.066667,19.200000,44.590000,19.790000,45.000000,18.890000,...,17.000000,45.4000,6.250000,733.8,92.000000,6.000000,51.500000,5.000000,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.890000,46.333333,19.200000,44.530000,19.790000,45.000000,18.890000,...,17.000000,45.4000,6.133333,733.9,92.000000,5.666667,47.666667,4.900000,10.084097,10.084097
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19730,2016-05-27 17:20:00,100,0,25.566667,46.560000,25.890000,42.025714,27.200000,41.163333,24.700000,...,23.200000,46.7900,22.733333,755.2,55.666667,3.333333,23.666667,13.333333,43.096812,43.096812
19731,2016-05-27 17:30:00,90,0,25.500000,46.500000,25.754000,42.080000,27.133333,41.223333,24.700000,...,23.200000,46.7900,22.600000,755.2,56.000000,3.500000,24.500000,13.300000,49.282940,49.282940
19732,2016-05-27 17:40:00,270,10,25.500000,46.596667,25.628571,42.768571,27.050000,41.690000,24.700000,...,23.200000,46.7900,22.466667,755.2,56.333333,3.666667,25.333333,13.266667,29.199117,29.199117
19733,2016-05-27 17:50:00,420,10,25.500000,46.990000,25.414000,43.036000,26.890000,41.290000,24.700000,...,23.200000,46.8175,22.333333,755.2,56.666667,3.833333,26.166667,13.233333,6.322784,6.322784
19734,2016-05-27 18:00:00,430,10,25.500000,46.600000,25.264286,42.971429,26.823333,41.156667,24.700000,...,23.200000,46.8450,22.200000,755.2,57.000000,4.000000,27.000000,13.200000,34.118851,34.118851

In [33]:
x = df['T2']
y = df['T6']

x_test, x_train, y_test, y_train = train_test_split(x,
                                                    y,
                                                    test_size=0.3,
                                                    random_state=1)
#trained 70% and the 30% for testing

x_train = x_train.values.reshape(-1, 1)
x_test = x_test.values.reshape(-1, 1)


m = LinearRegression()
m.fit(x_train, y_train)
pred = m.predict(x_test)

pred

array([24.28662527,  4.21170699,  6.7991409 , ...,  5.99614417,
        6.07049572,  2.65032445])

# Question 12

In [10]:
from sklearn.metrics import r2_score
r2_score = r2_score(y_test, pred)
round(r2_score, 2)

0.64

# Question 13 - Mean Absolute Error (in two decimal places)

In [34]:
#dropped date and light column
df_scale = df.drop(columns= ['date', 'lights'])

#scaling the data using MinMaxScaler 
scaler = MinMaxScaler()
n_df = pd.DataFrame(scaler.fit_transform(df_scale), columns=df_scale.columns)

# assigning datasets to my predictor and target
p_df = n_df.drop(columns=['Appliances'])
t_df = n_df['Appliances']

In [35]:
x_test, x_train, y_test, y_train = train_test_split(p_df,
                                                    t_df,
                                                    train_size=0.7,
                                                    test_size=0.3,
                                                    random_state=42)
reg_model = LinearRegression()
reg_model.fit(x_train, y_train)
Y = reg_model.predict(x_test)
Y

array([0.03513553, 0.07433935, 0.0259384 , ..., 0.04622279, 0.08089308,
       0.08721625])

In [36]:
mean_ae = mean_absolute_error(y_test, Y)
round(mean_ae, 2)

0.05

# Question 14 - Residual Sum of Squares (in two decimal places)

In [37]:
rss = np.sum(np.square(y_test - Y))
round(rss, 3)

110.129

# Question 15 - Root Mean Squared Error (in three decimal places)

In [27]:
rmse = np.sqrt(mean_squared_error(y_test, Y))
round(rmse, 3)

0.089

# Question 16 - Coefficient of Determination (in two decimal places)

In [28]:
from sklearn.metrics import r2_score
r2_score = r2_score(y_test, Y)
round(r2_score, 2)

0.14

# Question 17 - Lowest and Highest weights

In [38]:
def gw_df(model, feat, col_name):
    
    weights = pd.Series(model.coef_, feat.columns).sort_values()
    weights_df = pd.DataFrame(weights).reset_index()
    weights_df.columns = ['Features', col_name]
    weights_df[col_name].round(3)
    return weights_df


linear_model_weights = gw_df(regression_model, x_train,
                                      'Linear_Model_Weight')
linear_model_weights

       Features  Linear_Model_Weight
0          RH_2            -0.539055
1            T2            -0.326397
2         T_out            -0.286637
3            T9            -0.218335
4          RH_8            -0.169558
5          RH_7            -0.057397
6        RH_out            -0.036925
7          RH_9            -0.018717
8           rv2            -0.005266
9           rv1            -0.005266
10  Press_mm_hg            -0.000110
11   Visibility             0.006881
12           T7             0.011240
13         RH_5             0.013661
14         RH_6             0.016905
15    Windspeed             0.024499
16           T1             0.024794
17           T4             0.034478
18           T5             0.036223
19    Tdewpoint             0.079553
20         RH_4             0.080423
21           T8             0.107823
22         RH_3             0.112555
23           T6             0.268656
24           T3             0.273449
25         RH_1             0.533062

In [40]:
r_reg = Ridge(alpha=0.4)
r_reg.fit(x_train, y_train)

pred_ridge = r_reg.predict(x_test)

rmse = np.sqrt(mean_squared_error(y_test, pred_ridge))
round(rmse, 3)

0.089